//стили уровней

//контент
.container {
    max-width: 1240px;
    margin: auto;
    padding: 0 20px;
    display: flex;

}
//размеры картинок (блоков поля в игре)
img {
    width: 45px;
    height: 55px;
}
//само поле
.field {
    margin: 10px auto auto auto;
    width: 550px;
    position: relative;
    transition: all 1s;
    -webkit-transition: all 1s;
}
//блоки поля в игре
.blocks {
    position: absolute;
    transition: all 1s;
    -webkit-transition: all 1s;
}
//данные об уровне
.data {
    p {
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 300;
        color: black;
    }
}
//данные о цели уровня и количестве оставшихся ходов
.aim, .div_steps {
    display: flex;
}